* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #000080;
    padding: 20px;
}

/* Nagivation ------------------------------------------------------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}

.nav-links a.active {
    color: #ff1100;
}

/* Main Section -------------------------------------------------------------------------------*/
main {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #61cbdd;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-image: url("../images/crossed-fingers.svg");
    background-size: 20%;
    background-repeat: round;
}

.hero {
    text-align: center;
    margin-bottom: 60px;
    background-color: #000080;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}
/* Game choice section ------------------------------------------------------------------------ */
.game-options{
    display: none;
}
.game-options ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.game-options li {
    margin-right: 10px;
}

.game-options li:last-child {
    margin-right: 0;
}

.game-options a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.game-options a:hover {
    background-color: #ffdd33;
}
/* Button ------------------------------------------------------------------------------- */
.cta-button, button{
    display: inline-block;
    background-color: #0af150;
    color: #000000;
    padding: 12px 24px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #454ec9;
}
/* Features ------------------------------------------------------------------------------- */
.features {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 40px;
}

.feature {
    background-color:#000080;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}
/* Footer ------------------------------------------------------------------------------- */
footer {
    background-color: #000080;
    color: #fff;
    text-align: center;
    padding: 20px;
}
/* All games */
.game{
    min-width: 70%
}
/* Lotto Game ------------------------------------------------------------------------------*/
.lotto-game{
    color: white;
    background-color: #000080;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    border-radius: 5%;
}
/* Inputs --------------------------------------------------------------------------------- */
.number-inputs {
    margin-bottom: 20px;
}

.number-inputs input {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Results --------------------------------------------------------------------------------- */
#result {
    margin: 20px;
    padding: 10px;
    min-width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    text-align: center;
}